examples-mule4-ignite-connector/src/main/mule/queries.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting"
	xmlns:apache-ignite="http://www.mulesoft.org/schema/mule/apache-ignite"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apache-ignite http://www.mulesoft.org/schema/mule/apache-ignite/current/mule-apache-ignite.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="queriesFlow" doc:id="aaf73b1f-654b-4998-89bb-51ef7c096e71" >
		<http:listener doc:name="Listener" doc:id="156feeb3-7a3a-4e83-81ca-032db4a8f951" config-ref="HTTP_Listener_config" path="/queries/pois/sqlGeoSearch"/>
<!-- 		<scripting:execute engine="groovy" doc:name="create luceneQuery" doc:id="25d5b25f-c2b5-4929-97ab-68de80a1c270" target="luceneQuery"> -->
<!-- 			<scripting:code >import static org.hawkore.ignite.lucene.builder.Builder.geoDistance; -->
<!-- import static org.hawkore.ignite.lucene.builder.Builder.search;  -->

<!-- return search().refresh(true) -->
<!--             .filter(geoDistance(&quot;place&quot;, 40.416775, -3.703790, attributes.queryParams.radius)) -->
<!--             .sort(geoDistance(&quot;place&quot;, 40.416775, -3.703790)).build(); -->
<!-- </scripting:code> -->
<!-- 		</scripting:execute> -->
		<set-variable value="#['{&quot;filter&quot;:[{&quot;type&quot;:&quot;geo_distance&quot;,&quot;field&quot;:&quot;place&quot;,&quot;latitude&quot;:40.416775,&quot;longitude&quot;:-3.70379,&quot;max_distance&quot;:&quot;'++ (attributes.queryParams.radius as String) ++'&quot;}],&quot;sort&quot;:[{&quot;type&quot;:&quot;geo_distance&quot;,&quot;field&quot;:&quot;place&quot;,&quot;latitude&quot;:40.416775,&quot;longitude&quot;:-3.70379}],&quot;refresh&quot;:true} }']" doc:name="Set luceneQuery" doc:id="90159cd8-86d2-48bb-bf1e-4aa93a669c43" variableName="luceneQuery"/>
		<apache-ignite:query-sql doc:name="Query - SQL" doc:id="1767edd9-2f97-4e14-be16-ab3272c2251f" config-ref="Apache_Ignite_Config" queryParams-ref="#[[attributes.queryParams.lang as String, attributes.queryParams.lang as String, vars.luceneQuery as String]]">
			<apache-ignite:sql-query >SELECT id,
countryCode,
public.hkmv_text(name, ?, public.HKMV_DEFAULT_ISO(name)) as name,
public.hkmv_text(description, ?, public.HKMV_DEFAULT_ISO(description)) as description,
public.hkmv_text(name, 'iata', null) as iata,
PUBLIC.ST_DISTANCE_SPHERE(place, 'POINT (-3.703790 40.416775)')/1000 as distance_km
FROM &quot;pois&quot;.poi 
WHERE lucene = ?</apache-ignite:sql-query>
			<apache-ignite:page pageNumber="#[attributes.queryParams.pageNumber]" pageSize="#[attributes.queryParams.limit]" />
		</apache-ignite:query-sql>
		<set-payload value="#[output application/json --- payload]" doc:name="Set Payload" doc:id="95ddc4d3-6c3f-4966-a97c-495df4cdf4be" />
	</flow>
</mule>
